.logo {
  display: flex;
  align-items: center;
}

.logo__image {
  height: auto;
  width: auto;
  object-fit: contain;
}

/* Sizes */
.logo--small .logo__image {
  height: 28px;
}

.logo--medium .logo__image {
  height: 36px;
}

.logo--large .logo__image {
  height: 48px;
}

@media (max-width: 768px) {
  .logo--small .logo__image {
    height: 24px;
  }
  
  .logo--medium .logo__image {
    height: 28px;
  }
  
  .logo--large .logo__image {
    height: 36px;
  }
}
